* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Satoshi', sans-serif;
}

/* Header CSS */

header .upper {
    background-color: black;
    color: white;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.upper a {
    color: white;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 0 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.search-bar {
    position: relative;
}

.search-bar span svg {
    color: #555;
    opacity: 60%;
    width: 18px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-bar input {
    width: 250px;
    padding: 10px 10px 10px 35px;
    border: none;
    border-radius: 15px;
    background-color: #F0F0F0;
}

.navbar-icons {
    margin-left: 7px;
}


.navbar-icons a{
    margin: 0 7px;
}

/* Main CSS  */


.hero-banner {
    height: 90vh;
    display: flex;
    align-items: center;
    background-image: url(assets/Rectangle\ 2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 100px;
}

.hero-banner__content {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-banner__title {
    font-size: 70px;
    font-family: "Integral CF Regular";
    /* font-weight: 700; */
    width: 600px;
}

.hero-banner__description {
    font-size: 12px;
    /* width: 700px; */
    opacity: 60%;
}

.hero-banner__cta button {
    background-color: black;
    color: white;
    padding: 14px 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.hero-banner__cta button:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.hero-banner__values {
    display: flex;
    justify-content: start;
}

.hero-banner__value-item {
    padding-right: 40px;
    border-right: 1px solid #E0E0E0;
    padding-left: 15px;
}

.hero-banner__values .hero-banner__value-item:last-child {
    border-right: none;
    padding-right: 0;
}

.hero-banner__values .hero-banner__value-item:first-child {
    padding-left: 0;
}

.hero-banner__value-number {
    font-size: 40px;
}

.hero-banner__value-text {
    font-size: 16px;
    opacity: 60%;
}

.brand-names {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

/* New Arrivals CSS */



.new-arrivals__title {
    text-align: center;
    margin: 35px;
    font-family: "Integral CF Regular";
    font-size: 35px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.star-icon {
    color: #FFC41E;
}

.card-rating-area {
    display: flex;
    align-items: center;
}


.card-meta-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    font-size: 10px;
}

.card-pricing {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-item .card-old__price {
    text-decoration: line-through;
    opacity: 50%;
}

.card-discount__badge {
    background-color: rgba(255, 0, 0, 0.386);
    font-size: 11px;
    padding: 7px;
    border-radius: 20px;
}

.view-all__button {
    margin: 40px 0px;
    text-align: center;
}

.view-all__button button {
    background-color: white;
    color: black;
    padding: 8px 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
}

.view-all__button button:hover {
    background-color: black;
    color: white;
}


.new-arrivals .line {
    opacity: 30%;
}

.browse-section {
    display: flex;
    justify-content: center;
}

.browse-by-dress-style {
    width: 90%;
    max-width: 1200px;
    background-color: #F0F0F0;
    border-radius: 40px;
    padding: 50px;
    text-align: center;
}

.browse-title {
    margin-bottom: 50px;
    font-family: "Integral CF Regular";
    font-size: 30px;
}

/* 1. The Grid Container */
.style-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 280px 320px;
    gap: 20px;
    width: 100%;
}

.style-card.casual {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.style-card.formal {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.style-card.party {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.style-card.gym {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.style-card {
    display: block;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.style-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.style-card:hover img {
    transform: scale(1.05);
}

/* Testimonials CSS */

.testimonials {
    max-width: 1500px;
    width: 100%;
    padding: 60px 80px;
    text-align: center;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.testimonials-title {
    text-align: start;
    font-family: "Integral CF Regular";
    font-size: 28px;
    margin-bottom: 20px;
}

.testimonials-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars {
    color: #FFC41E;
}

.testimonials-cards {
    display: flex;
    gap: 20px;
}

.testimonials-card {
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.testimonials-arrows a{
    margin: 0px 4px;
}

.customer-review {
    text-align: start;
    color: #555;
}

.verified {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: #28a745;
    /* green */
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 6px;
}

/* Footer CSS */

footer {
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
    position: relative;
}

.offers-card {
    background-color: black;
    color: white;
    width: 85%;
    border-radius: 30px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: -20%;
}

.offers-title {
    font-family: "Integral CF Regular";
    font-size: 40px;
    width: 45%;
    margin: 62px;
}

.offers-input {
    padding: 16px 60px;
    border-radius: 30px;
    text-align: start;
    border: none;
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
}

.offers-input:focus {
    outline: none;
}

.offers-btn button {
    padding: 8px 76px;
    border: none;
    border-radius: 20px;
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.offers-subscribe {
    position: relative;
    margin: 62px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email-icon {
    position: absolute;
    top: 12%;
    left: 20px;
    opacity: 76%;
}

.footer-grey {
    padding-top: 110px;
}

.footer-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px;
}

.footer-link-groups {
    display: flex;
    gap: 62px;
}

.footer-brand-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.brand-description {
    width: 70%;
}

.footer-col h4 {
    margin: 10px 0;
}

.footer-col ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-col ul li {
    list-style: none;
}

.footer-col ul li a:hover {
    color: black;
}

.footer-col ul li a{
    text-decoration: none;
    color: #555;
}

.footer-line {
    margin: 24px 0;
}

.footer-after-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-size: 14px;
}

.social-icons a{
    margin: 0px 5px;
}

.social-icon-image {
    width: 32px;
}





